.page{
    margin:5% 18.2% 0 20%;
    /* background-color: #F1F1F8; */
    height:800px;
    
}
.listtitle{
    margin-top: 0px;
}  
.Title{
    margin-bottom:1%;
}
Img{
    margin: 1% 2% 1% 2%;
}
.images{
    margin-top: 1%;
}